* {
  margin: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

/* ==============
Typography
================= */

/* Navigation */

h1 {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 2rem;
  color: #143774;
}

.subtitle {
  font-weight: 700;
  font-size: .75rem;
  color: #1792D2;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

a {
  font-weight: 700;
  color: #717171;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.4px;
}

a:hover, a:active {
  color: #313131;
}

.active-page {
  border-bottom: 2px solid #717171;
}

.active-page:hover, .active-page:active {
  color: #717171;
}

/* Footer */
.container-foot {
  color: #FFFFFF;
  opacity: .54;
  font-size: 1.1rem;
  text-align: center;
}

.footer-title {
  font-weight: 700;
}

/* ==============
Layout
================= */

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}


/* Navigation */
header {
  background: #F8F8F8;
  padding: 3em 0 4em;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

nav li {
  margin-top: 3em;
}

.container-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .container-nav {
    flex-direction: row;
    justify-content: space-between;
  }

  header {
    text-align: left;
  }

  nav ul {
    flex-direction: row;
  }

  nav li {
    margin-top: 0;
    margin-left: 1em;
  }
}

/* Footer */

footer {
  background: #143774;
  padding: 3em 0 3em;
}
